body {
    background-color: skyblue;

    /* Vivi forslag til baggrundsfarve */
    background: rgb(254, 195, 45);
    background: linear-gradient(180deg, rgba(254, 195, 45, 1) 0%, rgba(254, 195, 45, 1) 25%, rgba(250, 173, 253, 1) 50%, rgba(250, 173, 253, 1) 75%, rgba(15, 93, 255, 1) 100%);
}

/*--------------*/
/* FONT */

/* Roc Grotesk Regular */
font-family: roc-grotesk,
sans-serif;
font-weight: 400;
font-style: normal;

/* Roc Grotesk Light */
font-family: roc-grotesk,
sans-serif;
font-weight: 300;
font-style: normal;

/* Roc Grotesk Bold*/
font-family: roc-grotesk,
sans-serif;
font-weight: 600;
font-style: normal;


h1 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

h2 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

h3 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.17em;
}

p {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

/*--------------*/

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: radial-gradient(#f0dda1, #957A43);
    width: 100vw;

}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    color: #111;
    font-family: "Questrial";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menu li a:hover {
    background-color: #333;
    color: #ffffff;
}


/*----------------------------------------------------------------------------------------------------------*/

.splash {
    width: 100%;
    height: 100vh;
    left: 345px;
}

.splash {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------------------------------------------------------------------------------------------*/

article {
    border: 1px solid black;
    padding: 10px;
}

/*----------------------------------------------------------------------------------------------------------*/

img {
    max-width: 100%;
}

/*----------------------------------------------------------------------------------------------------------*/

.logo {
    width: 20%;
    margin: 0 auto;
}

/*--------------------------------------*/

.sectionwrapper {
    width: 80%;
    margin: 0 auto;
}



section {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#om_left {
    width: 500vw;
    height: 500vh;
    background-color: red;
}

#om_right {
    width: 100px;
    height: 100px;
    background-color: red;
}






/*----------------------------------------------------------------------------------------------------------*/

.nav {
    display: flex;
    flex-wrap: wrap;
}

/*----------------------------------------------------------------------------------------------------------*/

h1 {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------------------------------*/

.filter {
    display: flex;
    flex-grow: 1;
    background-color: #C1272D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px 5px 2px;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------*/

.valgt {
    background-color: black;
}

/*----------------------------------------------------------------------------------------------------------*/

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 70vw;
    height: 50vh;
    margin: 10rem auto;
    background-color: white;
    display: flex;
    position: relative;
}

#popup img {
    max-width: 50%;
}

#popup div {

    margin-left: 20px;
    margin-right: 20px;
}

/*----------------------------------------------------------------------------------------------------------*/

#luk {
    position: absolute;
    top: 1.5rem;
    right: 0rem;
    background-color: #C1272D;
    color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px 4px 2px;
}
