body {
    background-color: skyblue;
}


/*--------------*/

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: radial-gradient(#f0dda1, #957A43);
    width: 100%;

}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    color: #111;
    font-family: "Questrial";
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    transition-duration: .4s;

}

.menu li a:hover {
    background-color: #333;
    color: #ffffff;
}

/*----------------------------------------------------------------------------------------------------------*/

#splash {
    padding: 40px 0px;
    background-image: url(img/splash.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 313px !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------*/

article {
    border: 1px solid black;
    padding: 10px;
    background-image: radial-gradient(#f0dda1, #957A43);
}

/*----------------------------------------------------------------------------------------------------------*/

img {
    max-width: 100%;
}

/*----------------------------------------------------------------------------------------------------------*/

.logo {
    width: 10%;
    margin: 0 auto;
}

/*--------------------------------------*/

.sectionwrapper {
    width: 80%;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#om_left {
    width: 500vw;
    height: 500vh;
    background-color: red;
}

#om_right {
    width: 100px;
    height: 100px;
    background-color: red;
}






/*----------------------------------------------------------------------------------------------------------*/

.nav {
    display: flex;
    flex-wrap: wrap;
    transition-duration: .4s;
}

/*----------------------------------------------------------------------------------------------------------*/

h1 {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------------------------------*/

.filter {
    display: flex;
    flex-grow: 1;
    background-image: radial-gradient(#f0dda1, #957A43);
    border: none;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 5px 2px;
    cursor: pointer;
}

.filter:hover {
    background-color: #333;
}

/*----------------------------------------------------------------------------------------------------------*/

.valgt {
    background-color: black;
}

/*----------------------------------------------------------------------------------------------------------*/

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 70vw;
    height: 50vh;
    margin: 10rem auto;
    background-color: white;
    display: flex;
    position: relative;
}

#popup img {
    max-width: 50%;
}

#popup div {

    margin-left: 20px;
    margin-right: 20px;
}

/*----------------------------------------------------------------------------------------------------------*/

#luk {
    position: absolute;
    top: 1.5rem;
    right: 0rem;
    background-color: #C1272D;
    color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px 4px 2px;
}
