/***** RESET / GENERELT *****/
* {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%
}

body {
    background-image: url(img/baggrund-ide.png);
    background-size: cover;
}

/***** FONT *****/

h1 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    color: #fec32d;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #faadfd;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.17em;
    color: #0f5dff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h4 {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.17em;
    color: #0f5dff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
}

/***** LINKS *****/
a:link {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.17em;
    color: #0f5dff;
    text-transform: uppercase;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #ffffff;
}

/***** FOOTER *****/

footer {
    height: 585px;
    padding: 10px;
    border: 1px solid #ffffff;
    margin: 10px;
    background-color: skyblue;
}

#footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

#footer-follow {
    width: 42px;
}

#footer-contact a:link,
#footer-follow a:link {
    font-family: roc-grotesk,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
    display: block;
    text-transform: none;
}

#footer-contact a:visited,
#footer-follow a:visited {
    color: #000000;
}

#footer-contact a:hover,
#footer-follow a:hover {
    text-decoration: underline;
}

#footer-contact a:active,
#footer-follow a:active {
    color: #ffffff;
}

/***** MENU *****/

#menu {
    text-align: center;
}

#menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: solid 1px skyblue;
    width: 100%;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    transition-duration: .4s;
    font-size: 16px;
    font-family: roc-grotesk,
        sans-serif;
}

#menu li a:hover {
    background-color: skyblue;
    color: white;
}

/***** SPLASH *****/

#splash {
    padding: 40px 0px;
    background-image: url(img/splash.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px skyblue solid;
}

/***** INDEX - LOOP VIEW *****/

article {
    border: 1px solid skyblue;
    padding: 10px;
    transition-duration: .4s;
    background-color: white;
    border-radius: 3px;
}

article:hover {
    box-shadow: 0px 0px 5px 0px skyblue;
    transition-duration: .4s;
}

/***** ZOOM EFFEKT PÅ SINGLE VIEW *****/

.zoom img {
    max-width: 100%;
    transition-duration: .4s;
}

.zoom img:hover {
    opacity: 0.4;
    transform: scale(1.05);
    border-radius: 5px;
}

/***** LOGO *****/

.logo {
    width: 10%;
    margin: 0 auto;
    transition-duration: 2s;
}

/***** SECTION GENERELT *****/
.sectionwrapper {
    width: 80%;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/***** OM/ABOUT SIDE *****/

#omSection {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px;
}

.photo {
    flex-grow: 0.3;
    flex-basis: 300px;
    margin-left: 10%;
}

.txt {
    flex-grow: 0.3;
    flex-basis: 300px;
    margin-left: 10%;
}

.greeting {
    margin-top: 50px;
}

/***** KONTAKT/CONTACT SIDE *****/

#contactSection {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    padding: 50px;
}

.contact-txt {
    flex-grow: 0.3;
    flex-basis: 300px;
    margin-left: 10%;
}

#contactSection p + h2 {
    margin-top: 50px;
}


/***** NAVIGATION *****/
.nav {
    display: flex;
    flex-wrap: wrap;
    transition-duration: .4s;
}

/***** FILTRERINGSKNAPPER *****/

.filter {
    display: flex;
    flex-grow: 1;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px 5px 2px;
    cursor: pointer;
    transition-duration: .4s;
    border: 1px solid skyblue;
    border-radius: 3px;
    font-family: roc-grotesk,
        sans-serif;
}

.filter:hover {
    background-color: white;
    border: 1px solid skyblue;
    color: black;
}

.valgt {
    background-color: black;
}

/***** POPUP *****/

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 70vw;
    height: 50vh;
    margin: 10rem auto;
    background-color: white;
    display: flex;
    position: relative;
}

#popup img {
    max-width: 50%;
}

#popup div {
    margin-left: 20px;
    margin-right: 20px;
}

/***** POPUP "X" LUK POPUP *****/
#luk {
    position: absolute;
    top: 1.5rem;
    right: 0rem;
    background-color: #C1272D;
    color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px 4px 2px;
    border-radius: 3px;
}

#luk:hover {
    opacity: 0.6;
}

/***** MEDIA QUERIES *****/

/***** DROPDOWN FILTERKNAPPER *****/
@media screen and (max-height: 450px) {
    .filternav-content {
        position: absolute;
        top: 25%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
    }

    .closebtn {
        position: absolute;
        top: 40px;
        right: 45px;
        font-size: 10rem;
    }
}

.hide2 {
    opacity: 0;
    transform: translateX(-100%);
}

.openNav {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%);
    width: 40%;
    border-top: solid 2px skyblue;
    color: black;
    font-family: monospace;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
    border: solid skyblue 1px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    transition-duration: .5s;
    margin-bottom: 10px;
}

.openNav:hover {
    border-color: black;
    opacity: 1;
    background-color: aliceblue;
    border-radius: 10px;
}

.filternav-content {
    display: flex;
    flex-wrap: wrap;
    transition-duration: .4s;
}

/***** BURGERMENU *****/
@media (min-width:600px) {
    #menuknap {
        display: none;
    }


    #menu.hide {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

.hide {
    opacity: 0;
    transform: translateX(-100%);
}

#menuknap {
    color: black;
    font-size: 1.5rem;
    padding-left: 6px;
}

#menu {
    margin-top: 25px;
    list-style-type: none;
    transition: transform 0.4s;
    transform-origin: top left;
    margin: 0;
    padding: 10px 10px;
    border-top: solid 1px skyblue;
    width: 100%;
}

a {
    color: black;
    font-family: monospace;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: lighter;
    opacity: 0.5;
}

a:hover {
    border-bottom: solid skyblue 2px;
    opacity: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    flex-direction: row;
    text-decoration: none;
}
